/*My CSS stlye sheet*/
h1{
    color:#008000;
    background-color:black;
    position: relative;
    padding-left: 600px;
    display: block;
    
}
h3{
    text-decoration:underline;
    text-align: center;
    margin: auto;
    display: flex;
}
body{
    background-color: rgb(78, 158, 134);
    color: blue;
    position:sticky;
    display: inline-block;
    
}
ul{
    border-style:solid;
    border-color: black;
    border-width: 2px;
    border-radius: 20px;
    padding-left: 23px;
    width: 420px;
    height:auto;
    margin:18px 18px 18px 18px;
    display:grid;
}/*
footer{
    display: flex;
}
*/
.cc {
    color:rgb(83, 69, 2);
  }
ol{
    padding: 10px 10px 10px 50px;
    max-width: max-content;
    min-width: min-content;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
@media(min-width: 60px){
    p{
        font-size: .45cm
    }

}
* {
    font-family: 'Noto Sans JP', sans-serif;
  }
  a[target], a:link {
    background-color: rgb(209, 38, 38);
    color: rgb(255, 255, 255);
  }
  a:visited {
    color: rgb(45, 253, 45);
  }
  section div {
      border: 1px;
    color: rgb(184, 0, 0);
  }
  section > ol >li{
      color: rgb(185, 185, 185);
  }
  section + p{
      color:rgb(92, 49, 49)
  }
  div~b{
      color: beige;
  }
  .cc.cc-red { border-color: red; }

